body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: grid;
  max-width: 800px;
  margin: 20px auto;
  justify-items: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

select,
input[type="text"] {
  min-width: 80%;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.leaderboard {
  margin-top: 20px;
}

.card-image {
  width: 100px;
  height: auto;
  margin: 10px auto;
  display: grid;
  transition: transform 0.2s ease; /* Smooth zoom transition */
  cursor: pointer; /* Change cursor to pointer to indicate zoom */
  border-radius: 4px; /* Round edges */
}

.double-faced-card,
.back-face {
  display: inline-block;
  width: 100px;
}

.card-image:hover {
  transform: scale(2); /* Zoom in on hover */
  z-index: 1000; /* Ensure the zoomed image is above other content */
}

.card {
  display: inline-block;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 0px 10px 35px 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
}

.banned {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.ban-counter {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.card-image:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Layout for split cards */
.split-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.split-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-weight: bold;
}

.split-name {
  font-size: 18px;
}
