body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.format-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.format-title:hover {
    background-color: #ced4da;
}

.format-content {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.card-image-container {
    margin-bottom: 10px;
}

.card-image {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.card-image:hover {
    transform: scale(1.5);
    z-index: 10;
}

.card-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
